# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Model/Data artifacts
data/processed/*.csv
models/*
!models/.gitkeep
results/*.csv
!results/rouge_scores.csv

# OS
.DS_Store
Thumbs.db
